trunk/OfficalWCF/DemoWF/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2176/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2176/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2176/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OfficalWCF.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service1_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="Service1_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_TestAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:TestAdd" />
  </wsdl:message>
  <wsdl:message name="Service1_TestAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestAddResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_TestUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:TestUpdate" />
  </wsdl:message>
  <wsdl:message name="Service1_TestUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_TestDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:TestDelete" />
  </wsdl:message>
  <wsdl:message name="Service1_TestDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/Test" message="tns:Service1_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/TestResponse" message="tns:Service1_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/TestAdd" message="tns:Service1_TestAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/TestAddResponse" message="tns:Service1_TestAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/TestUpdate" message="tns:Service1_TestUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/TestUpdateResponse" message="tns:Service1_TestUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/TestDelete" message="tns:Service1_TestDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/TestDeleteResponse" message="tns:Service1_TestDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Service1" type="tns:Service1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Test">
      <soap:operation soapAction="http://tempuri.org/Service1/Test" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestAdd">
      <soap:operation soapAction="http://tempuri.org/Service1/TestAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestUpdate">
      <soap:operation soapAction="http://tempuri.org/Service1/TestUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestDelete">
      <soap:operation soapAction="http://tempuri.org/Service1/TestDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_Service1" binding="tns:BasicHttpBinding_Service1">
      <soap:address location="http://localhost:2176/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>