OfficalWCF/DemoWF/Service References/NorthwindService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OfficalWCF.Entities.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OfficalWCF.Entities.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDetailProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DetailProducts" nillable="true" type="tns:DetailProducts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDetailProducts" nillable="true" type="tns:ArrayOfDetailProducts" />
  <xs:complexType name="DetailProducts">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discount" type="xs:float" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DetailProducts" nillable="true" type="tns:DetailProducts" />
</xs:schema>